@font-face {
    font-family: lemonmilk;
    src: url("LEMONMILK-Bold.otf");
}

@font-face {
	font-family: lemonmilkreg;
	src: url("LEMONMILK-Regular.otf");
}

.navbar-no-shadow-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display flex;
	max-width: auto;
	margin: -10px -7px -10px -9px;
	padding:20px;
	background-color: #e95a85;
	font-family: lemonmilkreg;
}

.container-regular{
    	width: 100%;
    	max-width: 1260px;
	margin: auto;
}

.navbar-wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-link{
    display: block;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e95a85;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-decoration: none;
    color: #ffffff;
}


h1 {
	font-family: lemonmilk;
	font-size: 350%;
	text-align: center;
	letter-spacing: -3px;
	margin: 50px;
}

body {
	font-family: arial;
	background-color: #FFFBEC;
	background-image: url("../spyfambg.png");
	background-size: cover;
	color: #3D3B38;
}

form {
	text-align: left; 
  	margin: auto; 
 	width: 490px;
}

input {
    	width: 483px;
    	padding: 13px;
    	display: block;
	border-style: solid;
	border-color: #D8D1C9;
    	background-color: #FFFCE6;
	outline: none;
}

input[type=text]:focus {
  border: 3px solid pink;
}

input[type="submit"] {
	background-color: #e95a85;
	color: white;
	font-weight: bold;
	border:none;
	cursor:pointer;
}

input[type="submit"]:hover {
	background-color: #e95a85;
	color: black;
}

p {
	font-size: 82%;
	text-align: center;
	font-weight: bold;
}

#login a:link {
	color: #e95a85;
}