<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="../styles/stylesheet.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div class="wf-section"></div>
<div class="navbar-no-shadow wf-section">
    <div data-animation="default" data collapse="medium" data-duration="400" role="banner" class="navbar-no-shadow-container w-nav">
        <div class="container-regular">
            <div class="navbar-wrapper">
                <a class="brand"><img src="../akipop.jpg" width="96" alt="brand-logo"></a>
                <a href="index.html" class="nav-link"><strong class="bold-text-2">Home</strong></a>
                <a href="about.html" class="nav-link"><strong class="bold-text">About</strong></a>
                <a href="product.html" class="nav-link"><strong class="bold-text-3">Product</strong></a>
                <a href="cart.html" class="nav-link"><strong class="bold-text-4">Cart</strong></a>
                <a href="register.html" class="nav-link"><strong class="bold-text-4">Register</strong></a>
              
            </div>
        </div>
    </div>    
</div>

<section class="hero-heading-center wf-section">
    <div class="container-2">
        <h1 class="centered-heading margin-buttom-32px">WELCOME TO AKIPOP PH</h1>
        <div class="hero-wrapper">
            <div hero-split>
                <p class="margin-bottom-24px"> Hello, we are AKIPOP PH, a handmade craft store made with love just for you and your fandom cravings! Our shop offers product such as High-Quality Prints, Photocards, Stickers , Accessories, and more. You may directly click the button bellow to view and buy our product. Or you may also proceed the other platform provided below such as Shopee, Facebook, Twitter, and Instagram to buy our product!</p>
                <a href="product.html" class="button-primary w-button">Shop now</a>
            </div>
            <div class="hero-split"><img src="../storeBanner.png" width="550" height="339" alt="store-banner" class="shadow-two"></div>
           <!-- <div class="hero-split"><img src="../storeBanner.png" loading="lazy" scrset="../storeBanner.png 500, ../storeBanner.png 800, ../storeBanner.png 1080" sizes="(maxwidth:497px) 94vw,(maxwidth:767px) 95vw,(maxwidth:991px) 92vw, 43vw" alt="store-banner" class="shadow-two"></div>-->
        </div>
    </div>

</section>

</body>
</html>