<html>
	<head>	
		<title>Register</title>
	</head>
	<body>
	<h1>Create an Account</h1>
	<table>
		<tr>
            <td>Username *:</td>
        	<td><input type = text name = "username" id = "username" size = 25></td>
    	</tr>
        <tr>
            <td>First name *:</td>
        	<td><input type = text name = "firstname" id = "firstname" size = 25></td>
    	</tr>
        <tr>
            <td>Last Name *:</td>
        	<td><input type = text name = "lastname" id = "lastname" size = 25></td>
    	</tr>
        <tr>
            <td>Email *:</td>
        	<td><input type = email name = "email" id = "email" size = 25></td>
    	</tr>
    	<tr>
            <td>Password *:</td>
        	<td><input type = password name = "password" id = "password" size = 25></td>
        </tr>
      	<tr>
            <td>
        	<input type = submit value = "Register"></td>
        </tr>
    </table>
	<p>By clicking Register, you agree to our Terms, Data Policy and Cookies Policy.
	</body>
</html>