<html>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="../styles/stylesheet.css">
    <link rel="stylesheet" href="../styles/cartheet.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="wf-section"></div>
    <div class="navbar-no-shadow wf-section">
        <div data-animation="default" data collapse="medium" data-duration="400" role="banner" class="navbar-no-shadow-container w-nav">
            <div class="container-regular">
                <div class="navbar-wrapper">
                    <a class="brand"><img src="../akipop.jpg" width="96" alt="brand-logo"></a>
                    <a href="index.html" class="nav-link"><strong class="bold-text-2">Home</strong></a>
                    <a href="about.html" class="nav-link"><strong class="bold-text">About</strong></a>
                    <a href="product.html" class="nav-link"><strong class="bold-text-3">Product</strong></a>
                    <a href="cart.html" class="nav-link"><strong class="bold-text-4">Cart</strong></a>
                    <a href="register.html" class="nav-link"><strong class="bold-text-4">Register</strong></a>
                  
                </div>
            </div>
        </div>    
    </div>

    <section class="cart-heading-center wf-section">
    
    <div class="Cart-Container">
        <div class="Header">
            <h1 class="centered-heading margin-buttom-32px">SHOPPING CART</h1> 
            
        </div>

        <div >
            
              <div class="hero-split">
    
                <table class="cart">
                    <tr>
                      <th class="cart-table-data">Checkbox</th>
                      <th class="cart-table-data">Product</th>
                      <th class="cart-table-data">Name</th>
                      <th class="cart-table-data">Price</th>
                      <th class="cart-table-data">Quantity</th>
                    </tr>
                    <tr>
                      <td class="cart-table-data"><input type="checkbox" id="product1" name="product1"></td>
                      <td class="cart-table-data"><img src="../product.jpg" style={{ height="120px" }}/></td>
                      <td class="cart-table-data">Anya Sticker</td>
                      <td class="cart-table-data">$100000</td>
                      <td class="cart-table-data">5</td>
                    </tr>
                    <tr>
                        <td class="cart-table-data"><input type="checkbox" id="product2" name="product2"></td>
                        <td class="cart-table-data"><img src="../product2.jpg" style={{ width="180px" height="120px" }}/></td>
                        <td class="cart-table-data">Anya Sticker 2</td>
                        <td class="cart-table-data">$5000</td>
                        <td class="cart-table-data">15</td>
                    </tr>
                  </table>

                <table class="cart">
                    <tr>
                        <th class="cart-table-data"><button class="button">Checkout Deals</button></th>
                        <th class="cart-table-data"><button class="button">Remove Deals</button></th>
                        <th class="cart-table-data"><button class="button">Add the Price</button></th>
                        <th class="cart-table-data"><button class="button"><a href="product.html">View other Deals</a></button></th>
                    </tr>
                </table>
              </div>
      
      
    
        </div>
 </div>

</section>


</body>


</html>