<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Akipop PH</title>
</head>
<body>
    <h1>Welcome to Akipop PH</h1>
    <div class="wf-section"></div>
    <div class="navbar-no-shadow wf-section">
        <div data-animation="default" data collapse="medium" data-duration="400" role="banner" class="navbar-no-shadow-container w-nav">
            <div class="container-regular">
                <div class="navbar-wrapper">
                    <a class="brand"><img src="../akipop.jpg" width="96" alt="brand-logo"></a>
                    <a href="index.html" class="nav-link"><strong class="bold-text-2">Home</strong></a>
                    <a href="about.html" class="nav-link"><strong class="bold-text">About</strong></a>
                    <a href="product.html" class="nav-link"><strong class="bold-text-3">Product</strong></a>
                    <a href="cart.html" class="nav-link"><strong class="bold-text-4">Cart</strong></a>
                </div>
            </div>
        </div>    
    </div>
    <ul>
        <li><a href="https://shopee.ph/akipopph">Shopee</a></li>
        <li><a href="https://www.facebook.com/akipopph/">Facebook</a></li>
        <li><a href="https://www.instagram.com/akipopph/">Instagram</a></li>
    </ul>
</body>
</html>