<html>
	<head>	
		<title>Create Account</title>
		<link rel="stylesheet" href="register_stylesheet.css">
	</head>
	<body>
			<div class="navbar-no-shadow wf-section">
    				<div data-animation="default" data collapse="medium" data-duration="400" role="banner" class="navbar-no-shadow-container w-nav">
        				<div class="container-regular">
            				<div class="navbar-wrapper">
                					<a class="brand"><img src="logo.jpg" width="96" alt="brand-logo"></a>
                					<a href="index.html" class="nav-link"><strong class="bold-text-2">HOME</strong></a>
                					<a href="about.html" class="nav-link"><strong class="bold-text">ABOUT</strong></a>
                					<a href="product.html" class="nav-link"><strong class="bold-text-3">PRODUCT</strong></a>
                					<a href="cart.html" class="nav-link"><strong class="bold-text-4">CART</strong></a>
                					<a href="register.html" class="nav-link"><strong class="bold-text-4">REGISTER</strong></a>
            				</div>
        				</div>
    				</div>    
			</div>
		</div>

		<h1>Register</h1>
		<form>
			<label for="username">Username
			<span style="color:red">*</span>
			</label><br>
			
      		<input type = text name = "username" id = "username" size = 25><br>

    			<label for="firstname">First Name
			<span style="color:red">*</span>
			</label><br>

      		<input type = text name = "firstname" id = "firstname" size = 25><br>

			<label for="lastname">Last Name
			<span style="color:red">*</span>
			</label><br>

      		<input type = text name = "lastname" id = "lastname" size = 25><br>

			<label for="email">Email
			<span style="color:red">*</span>
			</label><br>

      		<input type = text name = "email" id = "email" size = 25><br>

			<label for="password">Password
			<span style="color:red">*</span>
			</label><br>
	
      		<input type = text name = "password" id = "password" size = 25><br>

			<p>By clicking Register, you agree to our Terms, Data Policy and Cookies Policy.</p>

      		<input type = submit value = "Register">
		</form>
		<div id = "login">
			<p>Click here to <a href="login.html">log in</a></p>
		</div>
	</body>
</html>