@font-face {
  font-family: lemonmilk;
      src: url("../assets/LEMONMILK-Bold.otf");
}

@font-face {
  font-family: lemonmilkreg;
  src: url("../assets/LEMONMILK-Regular.otf");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  /* background: #e95a85; */
  background: #e7678e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #e97d9d;
}

body{
  overflow-x: hidden;
}